.gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

* {
    font-family: "Times New Roman", Times, serif;
}

/* .navbar{
    background-color:#0dcaf0 ;
}  */

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: rgb(90, 22, 8);
    font-weight: bold;
    opacity: 1;
    text-decoration-color: white;
}

.navbar {
    background-color: var(--navbar-scroll);
    transition: background-color 1s ease;
    /* transition: background-color 1s rgb(24, 149, 216); */
    color: var(--navbar-scroll-text);
    -webkit-box-shadow: var(--navbar-scroll-shadow);
    box-shadow: var(--navbar-scroll-shadow);
}

.nav-link {
    color: rgb(177, 12, 53);
}

a {
    letter-spacing: 0.2em;
    color: white;
    /* text-shadow: 1px 1px 2px #000000; */
}


