<!-- Background image -->
<div class="container-fluid">
    <!-- Navigation list -->

    <nav class="navbar fixed-top navbar-expand-sm bg-light">

        <br>
        <br>
        <br>
        <br>
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="#" matTooltip="Info about the action"
                    style="text-align: center; font-family: 'Times New Roman', Times, serif; margin-left: 20px; font-weight: bold;">DemoApp</a>
            </div>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent"
                style="float: right; margin-left: 455px; font-family: 'Times New Roman', Times, serif; font-size: 15px;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/aboutUs']">ABOUT US</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/angularMattable']">JOBS</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">CLIENTS</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">EMPLOYERS</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/login']">CONTACT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/manageUsertable']">USER TABLE</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                DROPDOWN
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" [routerLink]="['/templatedrivenForm']">Template Form</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li> -->
                    <!-- <li class="nav-item">
                            <a class="nav-link"  routerLinkActive="active">CONTACT US</a>
                        </li> -->
                    <!-- <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/reactiveForm']" >FORMS</a>
                        </li> -->
                    <!-- <form class="form-inline my-2 my-lg-0" style="margin-left: 190px;">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                        </form>
    
                        <li class="nav-item" class="btn btn-lg float-right" style="float: right; margin-left: 10px; padding-left: 60px;">
                            <a [routerLink]="['/login']" tabindex="-1"><button type="button" class="btn btn-info"
                                    data-mdb-ripple-init>Login/Signup</button></a>
                        </li> -->
                </ul>
    
            </div>
        </div>
        <br>
        <br>
        <br>


    </nav>

    <br>

</div>
<!-- Background image -->