<!-- Footer -->
<footer class="text-center text-white"
    style="background-color: #110d25; border-color: rgba(0, 187, 255, 0.929); border-style: solid;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">

        <p>Subscribe to our job seeker mailing list</p>

        <br>
        <form class="form-inline my-4 my-lg-0" style="margin-left: 420px;">

            <!-- Email -->
            <div class="input-container">
                <input class="input-field" type="text" placeholder="Enter your email address" name="email"
                    style="margin-top: 5px;">
                <i class="fa fa-envelope icon"></i>
            </div>

        </form>

        <br>

        <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <hr style="color: antiquewhite;">

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #110d25;">
        <div class="row">
            <div class="col-lg-3" style="float: left;"> © 2020 Copyright:
                <a class="text-white text-align-left" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>

            <div class="col-lg-9" style="padding-left: 750px;">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
        </div>


    </div>

    <!-- Copyright -->
</footer>
<!-- Footer -->