* {
    font-family: 'Times New Roman', Times, serif;
}

.bg-image {
    background-image: url("https://media.istockphoto.com/id/1352650187/photo/human-resource-manager-checks-the-cv-online-to-choose-the-perfect-employee-for-his-business.jpg?s=2048x2048&w=is&k=20&c=9DTebqC41cJUODwJ2YHIeDXeXt9h6ocoHpHoepwmRI0=");
    text-decoration-color: aliceblue;
    height: 600px;
    color: azure;
    font-weight: bolder;
    z-index: -1;

}

/* .modal-open {
    overflow: hidden;
    z-index: var(--bs-backdrop-zindex) -1;
    z-index: -1;
} */



/* .modal-backdrop {
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
} */

/* img {
    
    position: absolute;
    height: 600px;
    width: 1235px;
    left: 0px;
    top: 0px;
    opacity: 50%;
    z-index: -6;
} */

mat-slider {
    width: 207px;
    color: antiquewhite;
}

tag-input {
    border-radius: 5px;
}