* {
    font-family: 'Times New Roman', Times, serif;
}

.bg-image {
    background-image: url("https://cdn.pixabay.com/photo/2023/05/24/17/48/ai-generated-8015423_1280.jpg");

    /* background-image: url("https://cdn.pixabay.com/photo/2021/11/14/18/36/telework-6795505_1280.jpg"); */

    text-decoration-color: aliceblue;
    height: 600px;
    color: azure;
    font-weight: bolder;
    z-index: -1;

}

mat-slider {
    width: 220px;
    color: antiquewhite;
}

tag-input {
    border-radius: 5px;
}

.min-max-labels {
    justify-content: space-between;

    color: black;
}

.mat-slider-horizontal {
    width: 100%;
    color: black;
    background-color: black;
}

.mdc-slider__input {
    cursor: pointer;
    left: 0;
    margin: 0;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    /* position: fixed; */
    top: 0;
    width: 100%;
}


/* w3 school slider */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 200px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 200px;
    height: 200px;
    background: #04AA6D;
    cursor: pointer;
}

.example-chip-list {
    width: 100%;
    border-radius: 0px;
}

.mat-form-field {
    background-color: white;
    border-radius: 0px;

}

.mat-form-field {
    background-color: white;
    --mdc-chip-elevated-container-color: #e0e0e0;
    --mdc-chip-elevated-disabled-container-color: #e0e0e0;
    --mdc-chip-label-text-color: white;
    --mdc-chip-disabled-label-text-color: white;
    --mdc-chip-with-icon-icon-color: white;
    --mdc-chip-with-icon-disabled-icon-color: white;
    --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
    --mdc-chip-with-icon-selected-icon-color: white;
    border-radius: 1px;
}

.material-icons {
    border-radius: 0px;
    background-color: white;
    font-family: 'Material Icons';
    font-weight: normal;
    color: black;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}


.mat-chip-row {
    background-color: white;

    border-radius: 1px;
    border-block: 1px;
}


.remove-tag {
    padding-right: 5px;
    cursor: pointer;
}


.discrete-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: black;
    background-color: black;
}

.label {
    font-size: 12px;
    transform: translateY(50%);
}


div.validation-message {
    color: red;
    font-size: 12px;
}

.mat-slider{
    color: red;

}

.validation-message {
    color: red;
    font-size: 12px;
}

.mat-error {
    color: red;
    font-size: 12px;
}