<div class="container-fluid">

    <app-header></app-header>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="col-sm-12">
        <div class="container">
            <!-- <div class="col-lg-4"> -->
                <p>If you have been looking for access to resources
                    that help immigrants integrate into their new environment properly, and also connect with the right people, you are in the right place.
                    
                    Now, you can get full access to all the important immigrant information that you need right here.
                    
                    Please Help me
                    </p>
            <!-- </div> -->
    
            <!-- <div class="col-lg-8" style="width: auto;">

                <div class="bg-image" >

                </div>
    
    
            </div> -->
        </div>
        
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <app-footer></app-footer>


</div>>