<div class="container-fluid" style="background-color: #eee;">

    <app-header></app-header>

    <br>
    <br>
    <br>
    <br>

    <div class="col-sm-12">

        <!-- carousel bootstrap slide -->
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="carousel-content">
                        <h2 class="ap-video-title col-100 floatLft textTwoLine">Welcome to IPL: Fraser-McGurk announces
                            his
                            arrival in style</h2>
                        <h3 class="ap-date col-100 floatLft d-flex align-items-center">12 Apr, 2024 | 01:35 mins | <img
                                src="https://www.iplt20.com/assets/images/new-eye-banner.svg" class="mx-2"
                                style="height: 12px;width:18px" alt="" loading="lazy"> 9k </h3>
                    </div>

                    <img src="https://img.freepik.com/free-psd/technology-banner-template_23-2148928991.jpg?w=996&t=st=1712374611~exp=1712375211~hmac=b0595d5f5d648d0247ce1b80e00d544a3e268124b0edc22f8b375c41969bfa46"
                        alt="Los Angeles" width="1100" height="500">

                </div>
                <div class="carousel-item">
                    <img src="https://img.freepik.com/free-psd/business-banner-template-design_23-2149188970.jpg?w=996&t=st=1712374944~exp=1712375544~hmac=2f3f0fa38553780c6a2964baed6b530435362d0e7f8f1011f4742032e0329e0c"
                        alt="Chicago" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="https://img.freepik.com/free-vector/flat-airline-social-media-cover-template_23-2149601844.jpg?w=1060&t=st=1712374978~exp=1712375578~hmac=edeb1d223a7441e7fcd77dec52b4ee280cc74a5c0069272449ac3cbad37fc4cc"
                        alt="New York" width="1100" height="500">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <div style="background-color: #10172b; border-bottom-left-radius: 40px; border-bottom-right-radius: 40px;">

            <br>
            <br>
            <div class="container">

                <div class="row" style="margin-bottom: 1.5rem !important;">
                    <h3 style="float: left; color: white; font-style: italic; font-weight: bold;">Good Evening!
                    </h3>
                    <span style="float: left; color: white;">Curated shorts for you</span>
                </div>

                <div class="row" style="border-radius: 15px; border-width: 5px; border-color: white;">
                    <div class="col-lg-2">
                        <mat-card class="example-card">

                            <img mat-card-image class="zoom"
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1712065673_200x200_97348_1712065672.JPG"
                                alt="Photo of a Shiba Inu">

                            <!-- <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions> -->
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="example-card">

                            <img mat-card-image class="zoom"
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1711979814_200x200_77679_1711979814.jpg"
                                alt="Photo of a Shiba Inu">

                            <!-- <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions> -->
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="example-card">

                            <img mat-card-image class="zoom"
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1711892206_200x200_12907_1711892205.jpg"
                                alt="Photo of a Shiba Inu">

                            <!-- <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions> -->
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="example-card">

                            <img mat-card-image class="zoom"
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1711880678_200x200_90334_1711880678.jpg"
                                alt="Photo of a Shiba Inu">

                            <!-- <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions> -->
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="example-card">

                            <img mat-card-image class="zoom"
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1711880678_200x200_90334_1711880678.jpg"
                                alt="Photo of a Shiba Inu">

                            <!-- <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions> -->
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="example-card">

                            <img mat-card-image class="zoom"
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1711719638_200x200_81383_1711719637.JPG"
                                alt="Photo of a Shiba Inu">

                            <!-- <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions> -->
                        </mat-card>
                    </div>

                </div>

            </div>
            <br>
            <br>

        </div>

        <br>
        <br>
        <br>

        <!-- ipl match schedule table -->
        <app-matchsche-table></app-matchsche-table>

        <br>
        <br>
        <br>

        <div style="background-color: #a80b8b22;">

            <br>
            <br>
            <br>

            <!-- <div class="container-fluid">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                This is the expansion title
                            </mat-panel-title>
                            <mat-panel-description>
                                This is a summary of the content
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>If you have been looking for access to resources that help immigrants integrate into their
                            new
                            environment properly, and also connect with the right people, you are in the right place.
                            Now,
                            you can get full access to all the important immigrant information that you need right here.
                            Please Help me</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Self aware panel
                            </mat-panel-title>
                            <mat-panel-description>
                                Currently I am {{panelOpenState ? 'open' : 'closed'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br> -->


            <div class="container">
                <div class="row">
                    <div class="col-lg-6" style="border-radius: 30px;">
                        <section>
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">If you have been looking for access to resources
                                        that help immigrants integrate into their new environment properly, and also
                                        connect with the right
                                        people, you are in the right place.

                                        Now, you can get full access to all the important immigrant information that you
                                        need right here.

                                        Please Help me
                                    </p>
                                </div>
                            </div>
                        </section>

                    </div>

                    <div class="col-lg-6" style="width: auto;">

                        <div class="bg-image rounded">
                            <img [src]="urlFile"
                                style="height:300px; width:540px; margin-bottom: 10px; border-radius: 20px;"
                                class="thumbnail">
                        </div>


                    </div>
                </div>


            </div>
            <br>
            <br>
            <br>

        </div>

        <br>
        <br>
        <br>
        <br>
        <br>


        <div style="padding: 0 ;
        background: url(../images/header-curl-bg.svg) right / contain no-repeat, url(../images/header-rotate.png) left / contain no-repeat #19398a;
        box-shadow: 0 4px 8px 0 hsl(0deg 0% 7% / 50%);
        height: auto; border-bottom-left-radius: 40px; border-top-right-radius: 40px;">

            <br>
            <br>
            <div class="container">

                <div class="row" style="border-radius: 15px;">
                    <div class="col-lg-3">
                        <div class="card" style="width: 17rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="responsive-iframe" style="border-radius: 10px;"
                                    src="https://www.iplt20.com/4322d75d-077b-4074-abf6-a732c3226dee" allowfullscreen></iframe>
                                </div>
                                <div>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card" style="width: 17rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px;"
                                        src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen></iframe>
                                </div>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card" style="width: 17rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px;"
                                        src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                </div>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card" style="width: 17rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px;"
                                        src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                </div>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <br>
            <br>

        </div>

        <br>
        <br>
        <br>

        <div style="background-color: #10172b; border-bottom-left-radius: 40px; border-bottom-right-radius: 40px;">

            <br>
            <br>
            <div class="container">

                <div class="row" style="margin-bottom: 1.5rem !important;">
                    <h3 style="float: left; color: white; font-style: italic; font-weight: bold;">Good Evening!
                    </h3>
                    <span style="float: left; color: white;">Curated shorts for you</span>
                </div>

                <div class="row" style="border-radius: 15px; border-width: 5px; border-color: white;">
                    <div class="col-lg-2">
                        <mat-card class="example-card">

                            <img mat-card-image class="zoom"
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1712065673_200x200_97348_1712065672.JPG"
                                alt="Photo of a Shiba Inu">

                            <!-- <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions> -->
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="example-card">

                            <img mat-card-image class="zoom"
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1711979814_200x200_77679_1711979814.jpg"
                                alt="Photo of a Shiba Inu">

                            <!-- <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions> -->
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="example-card">

                            <img mat-card-image class="zoom"
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1711892206_200x200_12907_1711892205.jpg"
                                alt="Photo of a Shiba Inu">

                            <!-- <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions> -->
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="example-card">

                            <img mat-card-image class="zoom"
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1711880678_200x200_90334_1711880678.jpg"
                                alt="Photo of a Shiba Inu">

                            <!-- <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions> -->
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="example-card">

                            <img mat-card-image class="zoom"
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1711880678_200x200_90334_1711880678.jpg"
                                alt="Photo of a Shiba Inu">

                            <!-- <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions> -->
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="example-card">

                            <img mat-card-image class="zoom"
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1711719638_200x200_81383_1711719637.JPG"
                                alt="Photo of a Shiba Inu">

                            <!-- <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions> -->
                        </mat-card>
                    </div>

                </div>

            </div>
            <br>
            <br>

        </div>

        <br>
        <br>
        <br>
        <br>

        <div style="background-color: #031441;;">

            <br>
            <br>
            <div class="container">

                <div class="row" style="margin-bottom: 1.5rem !important;">
                    <div class="col-lg-6">
                        <h3 style="float: left; color: white; font-weight: bold;">Top Teams ....
                        </h3>
                    </div>
                    <div class="col-lg-6">
                        <a href="#" style="float: right; color: white; font-weight: bold; ">See more..</a>
                    </div>

                    <!-- <span style="float: left; color: white;">Curated shorts for you</span> -->
                </div>

                <div class="row" style="border-radius: 15px;">
                    <div class="col-lg-2">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>RR</mat-card-title>
                                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                            </mat-card-header>
                            <img mat-card-image
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1712065673_200x200_97348_1712065672.JPG"
                                alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>

                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>CSK</mat-card-title>
                                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                            </mat-card-header>
                            <img mat-card-image
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1711979814_200x200_77679_1711979814.jpg"
                                alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>

                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>MI</mat-card-title>
                                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                            </mat-card-header>
                            <img mat-card-image
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1711892206_200x200_12907_1711892205.jpg"
                                alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>

                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>LS</mat-card-title>
                                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                            </mat-card-header>
                            <img mat-card-image
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1711880678_200x200_90334_1711880678.jpg"
                                alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>

                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>SH</mat-card-title>
                                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                            </mat-card-header>
                            <img mat-card-image
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1711880678_200x200_90334_1711880678.jpg"
                                alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>

                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-lg-2">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>KKR</mat-card-title>
                                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                            </mat-card-header>
                            <img mat-card-image
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/bcci/story/1711719638_200x200_81383_1711719637.JPG"
                                alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>

                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>

                </div>

            </div>
            <br>
            <br>

        </div>

        <br>
        <br>
        <br>

        <div class="bg-light">
            <div class="container">
                &nbsp;
                <div class="row" style="margin-bottom: 1.5rem !important;">
                    <div class="col-lg-6">
                        <h3 style="float: left; color: rgb(3, 8, 34); font-weight: bold;">Top Teams ....
                        </h3>
                    </div>
                    <div class="col-lg-6">
                        <a (click)="toggleRemainingImages()" *ngIf="images.length > 4"
                            style="float: right; color: rgb(3, 8, 34); font-weight: bold; ">
                            {{ showRemainingImages ? 'Hide' : 'See More' }}
                        </a>
                    </div>

                </div>

                <!-- Toggle button for remaining images -->
                <!-- <div class="row">
                    <button class="btn-info" (click)="toggleRemainingImages()" *ngIf="images.length > 4">
                        {{ showRemainingImages ? 'Hide' : 'See More' }}
                    </button>
                </div> -->

                <div class="row" style="background-color: #10172b;">
                    <!-- Display first few images -->
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2" *ngFor="let image of images.slice(0, 6)">
                                <mat-card class="example-card">
                                    <img mat-card-image class="zoom" [src]="image.url"
                                        style="width: 150px; height: 150px; border: 2px solid #051131; " alt="Image">
                                </mat-card>
                            </div>
                        </div>
                        &nbsp;
                    </div>

                    <!-- Display remaining images if showRemainingImages is true -->
                    <div class="row" *ngIf="showRemainingImages">
                        <div class="col-lg-12">
                            <br>
                            <div class="row">
                                <div class="col-lg-2" *ngFor="let image of images.slice(4)">
                                    <mat-card class="example-card">
                                        <img mat-card-image class="zoom" [src]="image.url"
                                            style="width: 150px; height: 150px; border: 2px solid #051131; "
                                            alt="Image">
                                    </mat-card>

                                </div>
                            </div>
                        </div>
                        &nbsp;


                    </div>
                </div>

            </div>

        </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <app-footer></app-footer>


</div>