<app-crickhead></app-crickhead>

<div class="container mt-5">
    <h1 style="font-family: 'Lucida Sans', sans-serif; font-weight: bold; color: #007bff;">
        {{ article?.title }}
    </h1>
    <!-- <p style="font-size: 1.2rem; color: #6c757d;">
        {{ article?.content }}
    </p> -->
    <p class="card shadow" style="border-radius: 10px; background-color: rgba(255, 255, 255, 0.9); padding: 20px;">
        IPL MEDIA ADVISORYMarch 31, 2025Match 11, 
        <br>
        <br>
        RR vs CSK - Code of ConductMr. Riyan Parag, Captain, Rajasthan Royals
        has been fined after his team maintained a slow over-rate during Match 11 of the TATA Indian Premier League
        (IPL) 2025 against Chennai Super Kings at the ACA Stadium, Guwahati on 30th March, 2025. 
        <br>
        <br>
            As this was his team’s
        first offence of the season under Article 2.22 of the IPL’s Code of Conduct, which pertains to minimum over-rate
        offences, Parag was fined INR 12 lakhs.IPL
    </p>
    <a routerLink="/news" class="btn btn-secondary mt-3">Back to News</a>
</div>