<!-- <p>matchsche-table works!</p> -->

<!-- ipl schedule ttime table -->
<!--Manage data mat table -->
<div class="m-4">
    <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; "><b>IPL Schedule Time
            Table</b></h1>
</div>
<div class="mt-4 pl-1 p-5 bg-light text-white rounded">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Id, Name, Email-Id" #input>
    </mat-form-field>
    <table class="table align-middle mb-0 bg-white" mat-table [dataSource]="dataSource">

        <!-- Table columns -->
        <ng-container matColumnDef="srno">
            <th mat-header-cell *matHeaderCellDef>Sr. No.</th>
            <td mat-cell *matCellDef="let data">{{ data.srno }}</td>
        </ng-container>
        <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef>Team</th>
            <td mat-cell *matCellDef="let data">{{data.team}}</td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let data">{{data.date}}</td>
        </ng-container>
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let data">{{ data.time }}</td>
        </ng-container>
        <ng-container matColumnDef="venue">
            <th mat-header-cell *matHeaderCellDef>Venue</th>
            <td mat-cell *matCellDef="let data">{{ data.venue }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let data">
                <a  tabindex="-1"
                    style="margin-right: 10px; margin-bottom: 10px; padding-bottom: 10px;"><button 
                    mat-button (click)="openDialog()" class="btn btn-primary btn-sm" data-mdb-ripple-init>View</button></a>

                <!-- <a [routerLink]="['/updateUsertable',data.id]" tabindex="-1"
                    style="margin-right: 5px; margin-top: 10px;"><button type="button" class="btn btn-info btn-sm"
                        data-mdb-ripple-init><i class="fa fa-edit"></i>Edit</button></a> -->
                <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->


                <!-- <button class="btn btn-danger btn-sm" title="Delete category"
                    style="margin-right: 5px;  width: 50px; height: 30px;" (click)="deleteRole(data.id)">Delete
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button> -->
            </td>
        </ng-container>
        <!-- Define other columns similarly -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>