<div class="container-fluid" style="background-color: rgb(10, 75, 128);">
    <div class="row" style="padding-top: 7px; padding-bottom: 7px; padding-left: 5px;  padding-right: 5px;">
        <div class="col-lg-6" style="text-align: left;">

            <span class="ap-bcciLogo">
                <a href="https://www.bcci.tv/" target="_blank"><img
                        src="https://www.iplt20.com/assets/images/BCCI_logo.png" alt="BCCI Logo">BCCI.TV</a>
                <a href="https://www.wplt20.com/" target="_blank"><img style="height:22px;width:auto"
                        src="https://www.iplt20.com/assets/images/womens-premier-league-logo.svg" alt="WPL Logo"></a>
            </span>


        </div>
        <div class="col-lg-6">
            <div class="ap-socialDiv" style="text-align: right;">
                <div class="row">
                    <!-- <span>Follow Us</span> -->
                   
                    <a onclick="click_social(this)" data-title="twitter" href="https://twitter.com/IPL" target="_blank"
                        class="twit">
                        <img src="https://www.iplt20.com/assets/images/new-twitter-icon.svg" alt="twitter">
                    </a>
                    <a onclick="click_social(this)" data-title="instagram" href="https://www.instagram.com/iplt20/"
                        target="_blank" class="insta">
                        <img src="https://www.iplt20.com/assets/images/new-instagram-icon.svg" alt="instagram">
                    </a>
                    <a onclick="click_social(this)" data-title="facebook" href="https://www.facebook.com/IPL/"
                        target="_blank" class="fb">
                        <img src="https://www.iplt20.com/assets/images/new-facebook-icon.svg" alt="facebook">
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>