<div class="container-fluid" style="background-color: #15191e">
    <app-header></app-header>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- image table upload -->
    <div style="background-color: #343a40">

        &nbsp;
        <div class="container-fluid">
            <input type="file" (change)="onFileSelected($event)">
            <button class="btn-info" (click)="onUpload()">Upload</button>
        </div>

        <!-- image -->
        <div class="col-lg-12">
            <br>

            <div class="row">
                <br>
                <br>
                <div class="col-lg-2" *ngFor="let image of images; let i = index; let last = last;">
                    <img [src]="image.url" style="width: 190px; height: 190px; border-radius: 5px; margin-bottom: 5px;"
                        alt="Image">
                </div>

            </div>
        </div>

        <!-- slider  -->
        <div class="col-lg-12">
            <br>
            <!-- carousel bootstrap slide -->
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="row">
                            <br>
                            <br>
                            <div class="col-lg-2" *ngFor="let image of images; let i = index; let last = last;">
                                <img [src]="image.url" style="width: 190px; height: 190px; border-radius: 5px; margin-bottom: 5px;"
                                    alt="Image">
                            </div>
            
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>

        </div>

        &nbsp;

    </div>

    <br>
    <br>


    <div class="bg-light">

        <!-- Add/Edit/View data -->
        <div *ngIf="flag">
            <!-- Add/Edit data/ online data -->
            <!-- <div *ngIf="!detailFlag">

                <form #f="ngForm">
                    <section style="background-color: #eee;">
                        <div class="container py-5">
                            <div class="row">
                                <div class="col">
                                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                                        <ol class="breadcrumb mb-0">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#">User</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-xl-4">

                                    <div class="card mb-3">
                                        <div class="card-body text-center">
                                            <div> <img [src]="docurll"
                                                    style="height:250px; width:200px; margin-right: 20px; margin-bottom: 10px;"
                                                    class="thumbnail"></div>
                                            <div>
                                                <input hidden type="file" style="font-size: 0.75rem;" mdbRipple
                                                    rippleColor="dark" #profileUpload (change)="onChangeFileField($event)" />
                                                <button type="button" class="btn btn-primary btn-sm"
                                                    (click)="profileUpload.click()">Edit photo</button>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-8">
                                    <div class="card mb-4">
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Album-Id</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="user.albumId" name="albumId" placeholder="Album Id"
                                                        required />
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Title</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="user.title" name="title" placeholder="Title"
                                                        required />
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Url</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="user.url" name="url" placeholder="Url" required />
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">ThumbnailURL</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="user.thumbnailUrl" name="thumbnailUrl"
                                                        placeholder="ThumbnailUrl" required />
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-lg-12" style="margin-left: 540px;">
                                                    <button type="submit" class="btn btn-default"
                                                        (click)="cancel()">Cancel</button>
                                                    <button type="submit" class="btn btn-info" (click)="updateData()"
                                                        style="margin-right: 10px;">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>

            </div> -->

            <!-- Add/Edit data/ localhost data -->
            <div *ngIf="!detailFlag">

                <form #f="ngForm">
                    <section style="background-color: #eee;">
                        <div class="container py-5">
                            <div class="row">
                                <div class="col">
                                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                                        <ol class="breadcrumb mb-0">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#">User</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">{{this.id}}</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-xl-4">

                                    <div class="card mb-3">
                                        <div class="card-body text-center">
                                            <div> <img [src]="docurll"
                                                    style="height:234px; width:200px; margin-bottom: 10px; border-radius: 10px;"
                                                    class="thumbnail"></div>
                                            <div>
                                                <input hidden type="file" name="file" style="font-size: 0.75rem;"
                                                    [(ngModel)]="file" mdbRipple rippleColor="dark" #profileUpload
                                                    (change)="onChangeFileField($event)" />
                                                <button type="button" class="btn btn-primary btn-sm"
                                                    (click)="profileUpload.click()">Edit photo</button>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-8">
                                    <div class="card mb-4">
                                        <div class="card-body" style="font-weight: bolder;">

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">First Name</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="userInfo.fname" name="fname"
                                                        placeholder="First name" required />
                                                </div>
                                            </div>
                                            &nbsp;
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Last Name</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="userInfo.lname" name="lname"
                                                        placeholder="Last Name" required />
                                                </div>
                                            </div>
                                            &nbsp;
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Email Id</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="userInfo.email" name="email" placeholder="Email-id"
                                                        required />
                                                </div>
                                            </div>
                                            &nbsp;
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Mobile Number</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="userInfo.mno" name="mno"
                                                        placeholder="Mobile Number" required />
                                                </div>
                                            </div>
                                            &nbsp;
                                            <hr>
                                            <div class="row">
                                                <div class="col-lg-12" style="margin-left: 540px;">
                                                    <button type="submit" class="btn btn-default btn-outline-danger"
                                                        (click)="cancel()" style="margin-right: 5px;">Cancel</button>
                                                    <button type="submit" class="btn btn-info" (click)="updateData()"
                                                        style="margin-right: 10px;">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>

            </div>


            <!-- View data online-->
            <!-- <div *ngIf="detailFlag">
                <section style="background-color: #eee;">
                    <div class="container py-5">
                        <div class="row">
                            <div class="col">
                                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">User</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-4">

                                <div class="card mb-3">
                                    <div class="card-body text-center">
                                        <div> <img [src]="docurll"
                                                style="height:215px; width:200px; margin-right: 20px; margin-bottom: 10px;"
                                                class="thumbnail"></div>
                                        <div>
                                            <input hidden type="file" style="font-size: 0.75rem;" mdbRipple
                                                rippleColor="dark" #profileUpload (change)="onChangeFileField($event)" />
                                            <button type="button" class="btn btn-primary btn-sm"
                                                (click)="profileUpload.click()">Edit photo</button>

                                            <button [routerLink]="['/updateUsertable',user.id]" type="button"
                                                class="btn btn-info btn-sm" style="margin-left: 10px;">Edit
                                                profile</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                           
                            <div class="col-lg-8">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">ID</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">{{user.id}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Album-Id</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">{{user.albumId}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Title</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">{{user.title}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Url</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">{{user.url}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">ThumbnailURL</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">{{user.thumbnailUrl}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div> -->

            <!-- View data / localhost-->
            <div *ngIf="detailFlag">
                <section>
                    <!-- style="background-color: #eee;" -->
                    <div class="container py-5">
                        <div class="row">
                            <div class="col">
                                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">User</a></li>
                                        <li class="breadcrumb-item active" aria-current="page"><b
                                                style="color: black;">{{userInfo.fname}} {{userInfo.lname}}</b></li>

                                        <button [routerLink]="['/manageUsertable']" type="button"
                                            class="btn btn-info btn-sm" style="margin-left: 810px;">Cancel</button>
                                    </ol>
                                </nav>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-4">
                                <div> <img [src]="docurll" style="height:100px; width:100px; border-radius: 10px;"
                                        class="thumbnail">
                                </div>
                                <div>

                                    <input hidden type="file" style="font-size: 0.75rem;" mdbRipple [(ngModel)]="file"
                                        name="file" rippleColor="dark" #profileUpload
                                        (change)="onChangeFileField($event)" />
                                    <button type="button" class="btn btn-primary btn-sm"
                                        (click)="profileUpload.click()">Edit photo</button>
                                    <div [ngClass]="{ 'is-invalid':file.dirty && file.touched && file.errors }"
                                        class="invalid-feedback">
                                        <div *ngIf="file.errors?.['required']">Please upload you photo
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="col-lg-8">
                                <div class="card mb-4">
                                    <div class="card-body" style="font-weight: bolder;">
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Name</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">{{userInfo.fname}} {{userInfo.lname}}</p>
                                            </div>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Email-Id</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">{{userInfo.email}}</p>
                                            </div>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Mobile number</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">{{userInfo.mno}}</p>
                                            </div>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Country</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">{{userInfo.country}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- Managed data table/ online -->
        <!-- <div *ngIf="!flag">
            <div class="mt-4 p-5 bg-light text-white rounded">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-info">
                        <tr>
                            <th>ID</th>
                            <th>THUMBNAILURL</th>
                            <th>ALBUM ID</th>
                            <th>TTITLE</th>
                            <th>URL</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of datas;" class="animated flipInX">
                            <td>{{data.id}}</td>
                            <td>{{data.thumbnailUrl}}</td>
                            <td>{{data.albumId}}</td>
                            <td>{{data.title}} </td>
                            <td>{{data.url}}</td>

                            <td>
                                
                                <a [routerLink]="['/detailUsertable',data.id]" tabindex="-1"
                                    style="margin-right: 50px; margin-bottom: 10px; padding-bottom: 10px;"><button
                                        type="button" class="btn btn-primary btn-sm"
                                        data-mdb-ripple-init>View</button></a>

                                <a [routerLink]="['/updateUsertable',data.id]" tabindex="-1"
                                    style="margin-right: 5px; margin-top: 10px;"><button type="button"
                                        class="btn btn-info btn-sm" data-mdb-ripple-init>Edit</button></a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->

       

        <!-- Managed data table/ localhost-->
        <div *ngIf="!flag">
            <div class="mt-4 pl-4 p-5 bg-light text-white rounded">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-info">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email-id</th>
                            <th>Mob No</th>
                            <th>Image</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of datas;" class="animated flipInX">
                            <td>{{data.id}}</td>
                            <td>{{data.fname}} {{data.lname}}</td>
                            <td>{{data.email}}</td>
                            <td>{{data.mno}} </td>
                            <td><img class="thumbnail" style="height: 50px; width: 50px;" [src]="data.file" /></td>
                            <td>

                                <a [routerLink]="['/detailUsertable',data.id]" tabindex="-1"
                                    style="margin-right: 10px; margin-bottom: 10px; padding-bottom: 10px;"><button
                                        type="button" class="btn btn-primary btn-sm"
                                        data-mdb-ripple-init>View</button></a>

                                <a [routerLink]="['/updateUsertable',data.id]" tabindex="-1"
                                    style="margin-right: 5px; margin-top: 10px;"><button type="button"
                                        class="btn btn-info btn-sm" data-mdb-ripple-init><i
                                            class="fa fa-edit"></i>Edit</button></a>

                                <button class="btn btn-danger btn-sm" title="Delete category"
                                    style="margin-right: 5px;  width: 50px; height: 30px;"
                                    (click)="deleteRole(data.id)">Delete
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br>
        <br>

        <!--Manage data mat table -->
        <div *ngIf="!flag">
            <div class="mt-4 pl-1 p-5 bg-light text-white rounded">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Id, Name, Email-Id" #input>
                </mat-form-field>
                <table class="table align-middle mb-0 bg-white" mat-table [dataSource]="dataSource">

                    <!-- Table columns -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let data">{{ data.id }}</td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let data">{{data.fname}} {{data.lname}}</td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>Email-Id</th>
                        <td mat-cell *matCellDef="let data">{{data.email}}</td>
                    </ng-container>
                    <ng-container matColumnDef="mno">
                        <th mat-header-cell *matHeaderCellDef>Mobile No.</th>
                        <td mat-cell *matCellDef="let data">{{ data.mno }}</td>
                    </ng-container>
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef>Image</th>
                        <td mat-cell *matCellDef="let data"><img class="thumbnail" style="height: 50px; width: 50px;"
                                [src]="data.file" /></td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let data">
                            <a [routerLink]="['/detailUsertable',data.id]" tabindex="-1"
                                style="margin-right: 10px; margin-bottom: 10px; padding-bottom: 10px;"><button
                                    type="button" class="btn btn-primary btn-sm" data-mdb-ripple-init>View</button></a>

                            <a [routerLink]="['/updateUsertable',data.id]" tabindex="-1"
                                style="margin-right: 5px; margin-top: 10px;"><button type="button"
                                    class="btn btn-info btn-sm" data-mdb-ripple-init><i
                                        class="fa fa-edit"></i>Edit</button></a>

                            <button class="btn btn-danger btn-sm" title="Delete category"
                                style="margin-right: 5px;  width: 50px; height: 30px;"
                                (click)="deleteRole(data.id)">Delete
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </td>
                    </ng-container>
                    <!-- Define other columns similarly -->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </div>


        <!-- ipl schedule ttime table -->
        <!--Manage data mat table -->
        <div class="m-4">
            <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; "><b>IPL Schedule Time table</b></h1>
        </div>
        <div *ngIf="!flag">
            <div class="mt-4 pl-1 p-5 bg-light text-white rounded">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Id, Name, Email-Id" #input>
                </mat-form-field>
                <table class="table align-middle mb-0 bg-white" mat-table [dataSource]="dataSource">

                    <!-- Table columns -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let data">{{ data.id }}</td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let data">{{data.fname}} {{data.lname}}</td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>Email-Id</th>
                        <td mat-cell *matCellDef="let data">{{data.email}}</td>
                    </ng-container>
                    <ng-container matColumnDef="mno">
                        <th mat-header-cell *matHeaderCellDef>Mobile No.</th>
                        <td mat-cell *matCellDef="let data">{{ data.mno }}</td>
                    </ng-container>
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef>Image</th>
                        <td mat-cell *matCellDef="let data"><img class="thumbnail" style="height: 50px; width: 50px;"
                                [src]="data.file" /></td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let data">
                            <a [routerLink]="['/detailUsertable',data.id]" tabindex="-1"
                                style="margin-right: 10px; margin-bottom: 10px; padding-bottom: 10px;"><button
                                    type="button" class="btn btn-primary btn-sm" data-mdb-ripple-init>View</button></a>

                            <a [routerLink]="['/updateUsertable',data.id]" tabindex="-1"
                                style="margin-right: 5px; margin-top: 10px;"><button type="button"
                                    class="btn btn-info btn-sm" data-mdb-ripple-init><i
                                        class="fa fa-edit"></i>Edit</button></a>

                            <button class="btn btn-danger btn-sm" title="Delete category"
                                style="margin-right: 5px;  width: 50px; height: 30px;"
                                (click)="deleteRole(data.id)">Delete
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </td>
                    </ng-container>
                    <!-- Define other columns similarly -->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </div>

    </div>

    <br>
    <br>
    <br>
    <br>

    <app-footer></app-footer>
</div>

<script defer="" src="https://www.iplt20.com/assets/js/ipl-custom.min.js?v=1.7.11"></script>